[Unit]
Description=Email an alert that %i failed
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=@DEPLOY@
ExecStart=@DEPLOY@/bin/alert-unit %i
